node_modules/
uploads/
__pycache__/
*.wav
*.webm
*.mp3
.env

.vercel

serviceAccountKey.json
.agents/
.firebase/
.firebaserc

# Server files to ignore
Server/trained_models/
Server/data/
Server/database/*.db
Server/logs/
Server/.env
Server/__pycache__/
