Flask==3.0.3
Flask-Cors==4.0.1
Flask-Limiter==3.5.0
python-dotenv==1.0.1
scikit-learn==1.5.1
numpy<2.0.0
joblib==1.4.2
scipy
opencv-python-headless
onnxruntime==1.18.0
ai-edge-litert
librosa==0.10.2
soundfile
Pillow==10.4.0
pillow-heif==0.18.0
PyPDF2==3.0.1
beautifulsoup4==4.12.3
requests==2.32.3
cloudscraper==1.2.71
charset-normalizer==3.3.2
PyJWT==2.9.0
firebase-admin==6.5.0
waitress==3.0.0
